/*=======================================*/
/*Imports*/
/*=======================================*/
@import url("partials/navbar.css");
@import url("partials/pizza-section.css");
@import url("partials/order-summary.css");
@import url("partials/form.css");
/*=======================================*/



/*=======================================*/
/*General*/
/*=======================================*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

#container {
  margin: 80px 20px 40px 20px;
}
/*=======================================*/


/*=======================================*/
/*Header*/
/*=======================================*/

header {
  background-color: rgba(242, 158, 65, 0.26);
  height: 80px;
  text-align: center;
  color: rgba(0, 0, 0, 0.84);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 18px 1px rgba(0, 0, 0, 0.19);
}

header h1 {
  margin: 0px;
  padding-top: 20px;
}
/*=======================================*/