/*=======================================*/
/*Imports*/
/*=======================================*/
@import url("partials/navbar.css");
@import url("partials/pizza-section.css");
@import url("partials/form.css");
/*=======================================*/



/*=======================================*/
/*General*/
/*=======================================*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

#container {
  margin: 80px 20px 40px 20px;
}
/*=======================================*/


/*=======================================*/
/*Header*/
/*=======================================*/

header {
  background-color: rgb(229, 226, 226);
  border: 1px solid black;
  text-align: center;
}
/*=======================================*/