/*=======================================*/
/*Imports*/
/*=======================================*/
@import url("partials/sidebar.css");
@import url("partials/pizza-section.css");
/*=======================================*/



/*=======================================*/
/*General*/
/*=======================================*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

#container {
  margin-top: 80px;
}
/*=======================================*/


/*=======================================*/
/*Header*/
/*=======================================*/

header {
  background-color: grey;
  border: 1px solid black;
  text-align: center;
}
/*=======================================*/