@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  nav ul#js-cities li {
    width: 100%;
  }

  #js-remove {
    margin: 10px 0%;
    float: none;
  }

  input[type="number"] {
    margin: 0px 10px 0px 0px;
  }

  form input:nth-child(6) {
    margin-left: 0px;
  }

  form input[type="submit"],
  form input[type="text"] {
    width: 100%;
  }
}