/*=======================================*/
/*Navbar*/
/*=======================================*/

nav {
  margin-bottom: 80px;
}

nav ul#js-cities {
  list-style: none;
  padding: 0px;
  text-align: center;
  margin: 0px;
}

nav ul#js-cities li {
  font-size: 1.2em;
  padding: 10px 0%;
  display: inline-block;
  width: 33.3%;
  box-shadow: 1px 2px 14px 1px rgb(190, 186, 186);
}

nav ul#js-cities li:hover,
.hovered {
  cursor: pointer;
  background-color: lightblue;
}

/*=======================================*/