/*=======================================*/
/*Pizza Section*/
/*=======================================*/

section {
  width: 100%;
  background-color: rgb(229, 226, 226);
  border: 1px solid black;
  border-radius: 4px;
}

section h3 {
  text-align: center;
}

section h2 {
  text-align: center;
  margin: 187px 0%;
}

section p {
  margin: 30px;
  font-size: 1.05em;
}

.js-pizza {
  height: 237px;
  width: 223px;
  border: 1px solid black;
  margin: 0px 0% 35px 10.6%;
  display: inline-block;
  border-radius: 3px;
}

.js-pizza:hover,
#js-proceed:hover {
  background-color: lightblue;
  cursor: pointer;
}

.js-pizza h4 {
  text-align: center;
}

ul.toppings {
  list-style: none;
  padding: 0px;
  text-align: center;
  margin: 0px auto;
}

ul.toppings li {
  padding: 0px;
  margin: 20px auto;
}

#js-order-summary {
  border-top: 1px solid black;
}

#js-order-summary h4,
#js-price {
  margin: 46px;
}

#js-price p span:hover {
  background-color: red;
  cursor: pointer;
}

#js-proceed {
  width: 79%;
  margin: 10px 0% 30px 11%;
  height: 40px;
  font-size: 1em;
}


/*=======================================*/