/*=======================================*/
/*Pizza Section*/
/*=======================================*/

section {
  width: 70%;
  background-color: grey;
  float: right;
  border: 1px solid black;
  margin: 10px 2% 10px 0.5%;
}

section h3 {
  text-align: center;
}

section p {
  margin: 30px;
  font-size: 1.05em;
}

.pizza {
  height: 211px;
  width: 200px;
  border: 1px solid black;
  margin: 0px 0% 35px 8.6%;
  display: inline-block;
  border-radius: 3px;
}

.pizza h4 {
  text-align: center;
}

#order-summary h4,
#price {
  margin: 46px;
}

#proceed {
  width: 79%;
  margin: 10px 0% 30px 11%;
  height: 40px;
  font-size: 1em;
}


/*=======================================*/