/*=======================================*/
/*Sidebar*/
/*=======================================*/

aside {
  width: 20%;
  height: 400px;
  background-color: rgb(229, 226, 226);
  float: left;
  border: 1px solid black;
  margin: 10px 0.5% 10px 2%;
  position: fixed;
  border-radius: 4px;
}

aside ul#cities {
  list-style: none;
  padding: 0px;
  text-align: center;
  margin: 0px;
}

aside ul#cities li {
  font-size: 1.2em;
  padding: 10px 0%;
}

aside ul#cities li:hover,
.hovered {
  cursor: pointer;
  background-color: lightblue;
}

/*=======================================*/